@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
   
}

.titleFinalizeOrder{

    text-align: center;
    margin: 100px;
}

.containerMain{

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    gap: 15px;
    margin: 15px;
    margin-bottom: 100px;
    border-radius: 5px;

    background-color: #D9D9D9;
    
}
  

.contentFinalizeOrder{

    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.containerChildOne{

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    height: 120px;
    gap: 10px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;

}

.imgProductAdd{

    display: flex;
    width: 100px;
    height: 70px;

}

.descProductAdd{

    display: flex;
    font-weight: 500;
    font-size: 12px;
    color: #000000;

}

.selectQuantity{

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.buttonsInput button{
    width: 19px;
    height: 24px;
    border-radius: 5px;
}

.buttonsInput input{

    width: 40px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 5px;
    margin: 0px 5px;

}

.valueProductSelected{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.boxValueProductSelected{

    width: 110px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    background: #D9D9D9;
    border-radius: 5px;
}
.selectAddres{

    display: flex;
    align-items: center;
    padding: 15px;
    gap: 15px;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
}

.inputCep{

    height: 58px;
    width: -webkit-fill-available;
    background: #D9D9D9;
    opacity: 0.5;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.buttonSubmitCep{

    width: -webkit-fill-available;
    height: 55px;
    background: rgba(226, 1, 0, 0.81);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    font-weight: 900;
    font-size: 15px;
    color: #FFFFFF;
}

.findCep{

    font-weight: 700;
    font-size: 12px;
    color: #000000;

}

.containerChildTwo{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 15px;
    width: 329px;
    height: 462px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

}

.orderSummary{

    width: 300px;
    height: 57px;

    background: rgba(217, 217, 217, 0.5);
    border-radius: 5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 22px;

    
}

.subTotal{

    width: 300px;
    height: 57px;
    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 5px;

}

.freigthCost{

    width: 300px;
    height: 57px;
    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 5px;
}

.subTotal .freigthCoast{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    
    color: #000000;
}

.total{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 135px;

    background: rgba(217, 217, 217, 0.5);
    border-radius: 5px;

}

.checkout{

    width: 293px;
    height: 57px;

    background: rgba(226, 1, 0, 0.81);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    
    color: #FFFFFF;

}

.spanTotal, .spanPreviousPrice, .ou{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;

    color: #000000;
}

.spanIntallmentPrice{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #E20100;


}

.spanCashPrice{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #E20100;

}