

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainContentProduct{
    display: flex;
    align-items: center;
    justify-content: center;

}

.containerProductFather{
    display: flex;
    gap: 40px;
    padding: 40px;
    background: #D9D9D9;
}

@media (max-width:922px){
    .containerProductFather{
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 20px;
        
        background: #D9D9D9;
    }
}

.containerProductChild1{
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    justify-content: center;
    align-items: flex-start;
}

.imgProduct{

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    min-width: 240px

}

.imgsProducts{

    display: flex;
    margin-top: 60px;
    align-items: flex-start;
    min-width: 40px;
    max-width: 60px;
}

.imgsProductsSub{

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .imgsProducts #redragonSuperior1,#redragonSuperior2,#redragonSuperior3{

} */

.containerProductDesc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: #FFFFFF;
    max-width: 650px;
}

.promotionCall{

    display: flex;
    flex-direction: column;
    background: #D9D9D9;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;


}

.stopwatch{

    display: flex;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
}

.cardsPromo{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 70%;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;

}

.offerDiscaunt{

    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 5px;
    width: -webkit-fill-available;

}

.numberOfSales{

    display: flex;
    align-items: center;
    flex-direction: column;
    width: -webkit-fill-available;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.offersEnd{
    display: flex;
    align-items: center;
    color: #E20100;
}

.timeLeft{

    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
}

.descText{

    display: flex;
    font-weight: 700;
    line-height: 15px;
    font-size: 15px;
    color: #000000;

}

.rating{

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}

.hanking{

    gap: 10px;
    display: flex;
    align-items: center;
    color: #000000;

}

.buttonTop10{
    
    width: 142px;
    height: 36px;
    
    background: #E20100;
    border-radius: 5px;
    color: #FFFFFF;
}
.hanking, .buttonTop10{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
}

.value{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

.oldPriceProductScreen, .installmentPriceProductScreen{

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.currentPriceProductScreen{

    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    color: #E20100;

}

.discountPix{

    font-weight: 400;
    font-size: 17px;
    color: rgba(226, 1, 0, 0.8);
}

.addCart{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.addCartButton{

    margin-top: 100px;
    height: 90px;
    width: 100%;
    background: rgba(226, 1, 0, 0.81);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;

    font-weight: 900;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);

    
}

a {
    text-decoration: none;
    color: #FFFFFF;
}